
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DW workflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <!--<link href="node_modules/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">-->
    <!--<link href="node_modules/codemirror/lib/codemirror.css" rel="stylesheet">-->
    <!--<link href="node_modules/codemirror/theme/icecoder.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/codemirror/theme/icecoder.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/inquery/main.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/pyflow.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <img src="{{ url_for('static', filename='img/animated-progress.gif') }}" alt="" style="display: none" id="imgPath">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">DW workflow</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" id="menuFlow">flow<span class="sr-only">(current)</span></a></li>
            <li><a href="#" id="menuNode">node</a></li>
          </ul>

          {% if name %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href='/logout'>Log out</a></li>
                  </ul>
                </li>
            </ul>
          {% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" id="mainUI">
    </div> <!-- /container -->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="inquery-modal">
      <div class="modal-dialog modal-lg" role="document" style="width: 90%; max-height: 90%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4" style="overflow-y: scroll; height: 750px">
                  <form action="/generateworkflow" id="inquery-form">
                      <button class="btn btn-primary" @click="profiling">profiling</button>
                      <div class="form-group">
                          <label>choose your datetime column: </label>
                          <div class="radio" v-for="column in columns">
                              <label>
                                  <input type="radio" :value="column.index" name="datetime-column" v-model="dateTimeColumn">
                                  ${column.name}
                              </label>
                            </div>
                      </div>
                      <div class="form-group">
                          <label>pick date or time: </label>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" value="date" name="datetime" v-model="dateTime">
                                  date
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" value="time" name="datetime" v-model="dateTime">
                                  time
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>suggestions for removing constant variable:</label>
                          <div class="checkbox" v-for="column in constantColumns">
                              <label>
                                  <input type="checkbox" :value="column" name="remove-column" v-model="removeColumns">
                                  ${column}
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>suggestions for removing high correlation varible: </label>
                          <div class="checkbox" v-for="group in highCorrelationColumns">
                              <label>Group ${group.index}</label>
                              <div class="checkbox" v-for="column in group.columns">
                                  <label>
                                      <input type="checkbox" :value="column" name="remove-column" v-model="removeColumns">
                                      ${column}
                                  </label>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>suggestions for removing columns that contain too many zeros: </label>
                          <div class="checkbox" v-for="column in manyZerosColumns">
                              <label>
                                  <input type="checkbox" :value="column" name="remove-column" v-model="removeColumns">
                                  ${column}
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>suggestions for removing columns that is blank: </label>
                          <div class="checkbox" v-for="column in blankColumns">
                              <label>
                                  <input type="checkbox" :value="column" name="remove-column" v-model="removeColumns">
                                  ${column}
                              </label>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-md-8" id="pandas-profiling-result">
                  <iframe :src="reportPath" frameborder="0" style="position: relative; height: 750px; width: 100%;"></iframe>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="inquery-form-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/codemirror/mode/python/python.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/js-beautify/js/lib/beautify.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/d3/build/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jsplumb/dist/js/jsplumb.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/socketio/socket.io.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on('connect', function() {
          socket.emit('myemit', {data: 'I\'m connected!'});
      });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/requirejs/require.js') }}"></script>
    <script>
      requirejs.config({
          shim: {
            'socketio': {
              exports: io
            }
          },
          baseUrl: '../static/js',
          paths: {
            comp: 'components',
            model: 'model',
            socketio: '../node_modules/socketio/socket.io'
          }
      });
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{{ url_for('static', filename='js/inquery/app.js') }}"></script>
  </body>
</html>
