
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DW workflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <!--<link href="node_modules/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">-->
    <!--<link href="node_modules/codemirror/lib/codemirror.css" rel="stylesheet">-->
    <!--<link href="node_modules/codemirror/theme/icecoder.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/codemirror/theme/icecoder.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/inquery/main.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/pyflow.css') }}" rel="stylesheet">
      <!--umy-ui-->
<!--    <link rel="stylesheet" href="https://unpkg.com/umy-ui/lib/theme-chalk/index.css">-->

    <style>
      body {
        padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <img src="{{ url_for('static', filename='img/animated-progress.gif') }}" alt="" style="display: none" id="imgPath">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">DW workflow</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" id="menuFlow">flow<span class="sr-only">(current)</span></a></li>
            <li><a href="#" id="menuNode">node</a></li>
          </ul>

          {% if name %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href='/logout'>Log out</a></li>
                  </ul>
                </li>
            </ul>
          {% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" id="mainUI">
    </div> <!-- /container -->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="inquery-modal">
      <div class="modal-dialog modal-lg" role="document" style="width: 90%; max-height: 90%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Data Wrangling Guidance Application</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-8" id="pandas-profiling-result">
                  <div class="row">
                      <div class="col-md-12">
                          <profiling-column
                                        v-on:column-profiling-result="handleColumnProfilingResult"
                                        v-on:highlight-columns-changed="handleHighlightColumnsChanged"
                                        :is_loading="is_loading"
                                        :column_list="columnList"></profiling-column>
                      </div>
                      <div class="col-md-12">
                          <display-table
                                      :key="refresh_key"
                                      :is_loading="is_loading"
                                      :preview_dataset="previewDataset"
                                      :highlight_columns="highlightColumnIndexes"></display-table>
                      </div>
                      <div class="col-md-12" style="position: relative; height: 280px; width: 100%;overflow-y: scroll">
                          <form action="/generateworkflow" id="inquery-form">
                              <div>
                                  <!-- Nav tabs -->
                                  <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" style="color: #589df8" class="active">
                                        <a href="#Delete" aria-controls="Delete" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            <br>
                                            Delete
                                        </a>
                                    </li>
                                    <li role="presentation" style="color: #589df8">
                                        <a href="#Fill" aria-controls="Fill" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            <br>
                                            Fill
                                        </a>
                                    </li>
                                    <li role="presentation" style="color: #589df8">
                                        <a href="#Split" aria-controls="Split" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-sound-stereo" aria-hidden="true"></span>
                                            <br>
                                            Split
                                        </a>
                                    </li>
                                    <li role="presentation" style="color: #589df8">
                                        <a href="#Format" aria-controls="Format" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                            <br>
                                        Format
                                        </a>
                                    </li>
                                    <li role="presentation" style="color: #589df8">
                                        <a href="#Filter" aria-controls="Filter" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                                            <br>
                                            Filter
                                        </a>
                                    </li>
                                    <li role="presentation" style="color: #589df8">
                                        <a href="#groupby" aria-controls="groupby" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                                            <br>
                                            Groupby
                                        </a>
                                    </li>
                                    <li role="presentation" style="color: #589df8">
                                        <a href="#multipleFileWrangling" aria-controls="multipleFileWrangling" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                                            <br>
                                            multipleFileWrangling
                                        </a>
                                    </li>
                                    <li role="presentation" style="color: #589df8">
                                        <a href="#chart" aria-controls="chart" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                                            <br>
                                            chart
                                        </a>
                                    </li>
                                  </ul>

                                  <!-- Tab panes -->
                                  <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="Delete">
                                        <div class="form-group">
                                            <delete-column-group
                                                v-on:delete-recipe-event="handleRecipeEvent"
                                                :key="refresh_key"
                                                :column_list="columnList"
                                                :delete_list="deleteColumns"
                                                :is_loading="is_loading"
                                            ></delete-column-group>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="Fill">
                                        <div class="form-group">
                                            <filling-missing-value-group
                                                v-on:fill-missing-value-recipe-event="handleRecipeEvent"
                                                :key="refresh_key"
                                                :is_loading="is_loading"
                                                :column_list="fillMissingColumns"></filling-missing-value-group>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="Split">
                                         <div class="form-group">
                                            <splitting-column-group
                                                v-on:split-column-value-recipe-event="handleRecipeEvent"
                                                :is_loading="is_loading"
                                                :key="refresh_key"
                                                :column_list="splitColumns"></splitting-column-group>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="Format">
                                         <div class="form-group">
                                             <change-column-type-group
                                                v-on:change-column-type-event="handleRecipeEvent"
                                                :is_loading="is_loading"
                                                :column_list="changeTypeColumns"></change-column-type-group>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="Filter">
                                        <div class="form-group">
                                            <query-builder-group
                                                v-on:query-builder-recipe-event="handleRecipeEvent"
                                                :is_loading="is_loading"
                                                :key="refresh_key"
                                                :column_list="columnList"></query-builder-group>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="groupby">
                                        <div class="form-group">
                                            <group-by
                                                v-on:group-by-recipe-event="handleRecipeEvent"
                                                :key="refresh_key"
                                                :is_loading="is_loading"
                                                :column_list="columnList"></group-by>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="multipleFileWrangling">
                                        <div class="form-group">
                                            <multiple-file-wrangling
                                                v-on:concat-recipe-event="handleRecipeEvent"
                                                v-on:join-recipe-event="handleRecipeEvent"
                                                :key="refresh_key"
                                                :is_loading="is_loading"
                                                :column_list="columnList"></multiple-file-wrangling>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="chart">
                                        <div class="form-group">
                                            <chart
                                                v-on:concat-recipe-event="handleRecipeEvent"
                                                v-on:join-recipe-event="handleRecipeEvent"
                                                :is_loading="is_loading"
                                                :column_list="columnList"></chart>
                                        </div>
                                    </div>
                                  </div>

                                </div>




                  </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-4" style="overflow-y: scroll; height: 750px">

                  <column-status-panel :column_profiling_result="columnProfilingResult"></column-status-panel>
                          <recipe
                                  v-on:remove-recipe-item-event="handleRemoveRecipeItemEvent"
                                  :key="refresh_key"
                                  :recipe_list="recipeList"></recipe>


              </div>
            </div>
          </div>
          <div class="modal-footer" id="inquery-form-footer">
            <modal-footer
                  v-on:is-loading-event="handleIsLoadingEvent"
                  v-on:preview-dataset-changed="handlePreviewDatasetChanged"
                  v-on:is-loading-event="handleIsLoadingEvent"
                  v-on:profiling-event="handleProfilingEvent"
                  v-on:get-data-set-event="handleGetDatasetEvent"
                  :key="refresh_key"
                  :recipe_list="recipeList"></modal-footer>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--    <script src="https://unpkg.com/vue"></script>-->
<!--    <script src="https://unpkg.com/http-vue-loader"></script>-->
<!--    &lt;!&ndash; import CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
<!--    &lt;!&ndash; import JavaScript &ndash;&gt;-->
<!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<!--    &lt;!&ndash;language package&ndash;&gt;-->
<!--    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>-->
<!--    &lt;!&ndash;import umy ui&ndash;&gt;-->
<!--      <script src="https://unpkg.com/umy-ui/lib/index.js"></script>-->

    <script type="text/javascript" src="{{ url_for('static', filename='vue/vue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vue/http-vue-loader.js') }}"></script>
    <link href="{{ url_for('static', filename='element-ui/index.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='element-ui/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='element-ui/en.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='element-ui/umy-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chart/chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chart/vue-chartjs.min.js') }}"></script>



    <script src="{{ url_for('static', filename='js/inquery/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vue/vue-resource.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/codemirror/mode/python/python.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/js-beautify/js/lib/beautify.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/d3/build/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jsplumb/dist/js/jsplumb.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/socketio/socket.io.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      ELEMENT.locale(ELEMENT.lang.en);
      var socket = io();
      socket.on('connect', function() {
          socket.emit('myemit', {data: 'I\'m connected!'});
      });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/requirejs/require.js') }}"></script>
    <script>
      requirejs.config({
          shim: {
            'socketio': {
              exports: io
            }
          },
          baseUrl: '../static/js',
          paths: {
            comp: 'components',
            model: 'model',
            socketio: '../node_modules/socketio/socket.io'
          }
      });
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


  </body>
</html>
